{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}<title>登录</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-12">
    	<div class="box">
    		<div class="cell first breadcrumb">
    			<i class="ahead icon-home"></i> <a href="{{.AppUrl}}">app name</a>
    		</div>
    		<div class="cell last slim">
                <div class="row">
    				<div class="col-md-4 auth-page">
    					<h3 class="title">
    						<i class="icon icon-user"></i> 登录
    					</h3>
                        
    					<form method="POST" action="{{.AppUrl}}login"{{if .Error}} class="has-error"{{end}}>
                            {{.xsrf_html}}{{.once_html}}

                            {{template "base/form/field_group.html" .LoginFormSets.Fields.UserName}}

                            {{with .LoginFormSets.Fields.Password}}
                            <div class="form-group{{if .Error}} has-error{{end}}">
                                {{.Label}}
                                <a href="{{$.AppUrl}}forgot" class="pull-right"><i class="icon-question-sign"></i> 忘记密码</a>
                                {{call .Field}}
                                {{if .Error}}<p class="error-block">{{.Error}}</p>{{end}}
                                {{if .Help}}<p class="help-block">{{.Help}}</p>{{end}}
                            </div>
                            {{end}}

                            {{template "base/form/field_group.html" .LoginFormSets.Fields.Remember}}

				      		<button type="submit" class="btn btn-primary">注册&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
    					</form>
    				</div>
                    {{/* <div class="col-md-4 auth-page">
                        <div class="auth-page">
                            <h3 class="title">
                                <i class="icon icon-expand-alt"></i> {{i18n .Lang "auth.sign_with_social"}}
                            </h3>
                            <div class="auth-socials">
                                <a href="{{.AppUrl}}login/google" class="icon-google-plus google"></a>
                                <a href="{{.AppUrl}}login/github" class="icon-github github"></a>
                                <!-- <a href="{{.AppUrl}}login/weibo" class="icon-weibo weibo"></a> -->
                                <!-- <a href="{{.AppUrl}}login/qq" class="icon-qq-round qq"></a> -->
                            </div>
                        </div>
                    </div> */}}
    				<div class="col-md-4 auth-page">
        				<div class="auth-page">
        					<h3 class="title">
        						<i class="icon icon-question"></i> 帮助
        					</h3>
        					<p class="well">
        						如果您还没有注册帐户的话，请先注册。
        					</p>
        					<p>
                            	<a href="{{.AppUrl}}register" class="btn btn-default">现在注册&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
        					</p>
	        			</div>
    				</div>
                </div>
			</div>
    	</div>
	</div>
</div>
{{end}}